In [1]:
# Q1_1

In [2]:
a = "Pawan"

In [3]:
type(a)

str

In [4]:
# Q1_2

In [5]:
l = [1,3,4,6,641,3,7,9,8,"pawan",45.56,True,False]

In [6]:
type(l)

list

In [7]:
# Q1_3

In [8]:
b = 45.85

In [9]:
type(b)

float

In [10]:
# Q2_1

In [11]:
var1 = 'pawan'

In [12]:
type(var1)

str

In [13]:
# Q2_2

In [14]:
var2 = '[DS , ML , Python]'

In [15]:
type(var2)

str

In [16]:
#Q2_3

In [17]:
var3 = ['DS' , 'ML' ,'Python']

In [18]:
type(var3)

list

In [19]:
#Q2_4

In [20]:
var4 = 1

In [21]:
type(var4)

int

In [22]:
#Q3_1
# it is arthimatic operator (/).it is divide the number.example-

1/4
# 1 divide by 4 than we get 0.25

0.25

In [23]:
#Q3_2
# it is modulus operator. it is provide reminder.example
9%7
# 9 divide by 7 than we get 2 reminder.

2

In [24]:
5%4

1

In [25]:
#Q3_3
# it is provide division.
7//2
# 7 divide by 2 than we get 3 division.

3

In [26]:
45//8

5

In [27]:
#Q3_4
# it is power operator.
2**4
# 2 power of 4 than we get 16.

16

In [28]:
#Q4

l = [ 1,2,3,5,'pawan' ,"pawa" , True ,12.45, 12,45]
for n in l:
    print(n)
    print(type(n))

1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
5
<class 'int'>
pawan
<class 'str'>
pawa
<class 'str'>
True
<class 'bool'>
12.45
<class 'float'>
12
<class 'int'>
45
<class 'int'>

In [33]:
#Q5
A = int(input())
B = int(input())
n = A%B
while n == 0:
    i = A//B
    print(i)
    break
else:
        print("A is not divisiable by B")

 45
 4

A is not divisiable by B

In [30]:
#Q6
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in l:
    print(i)
    n = i%3
    print(n)
    if n == 0:
        print("i is divisiable by 3")
    else:
        print("i is not divisiable by 3")

1
1
i is not divisiable by 3
2
2
i is not divisiable by 3
3
0
i is divisiable by 3
4
1
i is not divisiable by 3
5
2
i is not divisiable by 3
6
0
i is divisiable by 3
7
1
i is not divisiable by 3
8
2
i is not divisiable by 3
9
0
i is divisiable by 3
10
1
i is not divisiable by 3
11
2
i is not divisiable by 3
12
0
i is divisiable by 3
13
1
i is not divisiable by 3
14
2
i is not divisiable by 3
15
0
i is divisiable by 3
16
1
i is not divisiable by 3
17
2
i is not divisiable by 3
18
0
i is divisiable by 3
19
1
i is not divisiable by 3
20
2
i is not divisiable by 3
21
0
i is divisiable by 3
22
1
i is not divisiable by 3
23
2
i is not divisiable by 3
24
0
i is divisiable by 3
25
1
i is not divisiable by 3

In [34]:
#Q7
# string is immutable data type.we can't replace data in string.example-
s = "pawan"
s[0] = n

TypeError: 'str' object does not support item assignment

In [35]:
#Q7
# list is mutable data type. we can replace data in list.example- 
l = [1,2,3,4,5,6,7,8,9,45.65,"pawan",True]
l[0] = 98

In [36]:
l

[98, 2, 3, 4, 5, 6, 7, 8, 9, 45.65, 'pawan', True]

In [ ]:
l[